@charset "UTF-8";

* {
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
    width: 100%;
}
#logo{
    position:absolute;
    width: 135px;
    right:0;
    top:0;
}
#comidasUsuario{
    margin-top: 70px;
    width: 375px;
    height: 260px;
}
.calendario{
    margin-top: 100px;
}
.formulario{
    width: 440px;
}
.formulario > input[type="text"]{
    margin-top: 70px;
    text-align: center;
}
form input[type="submit"]{
    margin-top: 10px;
}
#comidas{
    margin-top: 20px;
}
body{
    background: url(/images/fondo_ipad.jpg);
    background-size: 110%;
}
#foodCalories{
	color: rgb(255, 255, 255);
	left: 58%;
    top: 69px;
}

@media only screen and (min-width: 768px) {
	.col-tab-1 {width: 10%;}
	.col-tab-2 {width: 20%;}
    .col-tab-3 {width: 30%;}
	.col-tab-4 {width: 40%;}
	.col-tab-5 {width: 50%;}
	.col-tab-6 {width: 60%;}
	.col-tab-7 {width: 70%;}
	.col-tab-8 {width: 80%;}
	.col-tab-9 {width: 90%;}
    .col-tab-10{width:100%;}	 
    #logo{width: 140px;}   
    #comidasUsuario{
        margin-top: 100px;
        width: 290px;
        height: 344px;
        margin-left: 20px;
    }  
    .formulario{
        margin-top: 20px;
        width: 113%;
    }   
    .formulario > input[type="text"]{
        margin-top: 20px;
        
    }
    form input[type="submit"]{
        margin-top: 10px;
    }
    #comidas{
        margin-top: 20px;     
    }
    #foodCalories{
	left: 39%;
    top: 41px;
}
}
@media only screen and (min-width: 1366px) {
	.col-1 {width: 10%;}
	.col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-3mitad {width: 33%;}
	.col-4 {width: 40%;}
	.col-5 {width: 50%;}
	.col-6 {width: 60%;}
	.col-7 {width: 70%;}
	.col-8 {width: 80%;}
	.col-9 {width: 90%;}
    .col-10{width: 100%;}  
    body{
    background: url(/images/Fitness-alimentacion-1920.jpg);
    background-size: 100%;
    } 
    #comidasUsuario{
        margin-top: 80px;
        width: 300px;
        height: 357;
    }
    .calendario{
        margin-top: 80px;
        margin-left: 60px;
    }
    .formulario{
        margin-top: 80px;
        width: 450px;
    }
    #foodCalories{
	color: rgb(0, 161, 8);
	left: 21%;
    top: 80px;
	}
}
.calendario{
    position: relative;
}

.month {
    padding: 20px 25px;
    background: #1abc9c;
    text-align: center;
}
.month ul {
    margin: 0;
    padding: 0;
} 
.month ul li {
    position: relative;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.month .prev {
    float: left;
} 
.month .next {
    float: right;
}
.weekdays {
    margin: 0;
    padding: 6px 0;
    background-color: #ddd;  
}
.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}
.mealsKcal{
    margin: 0;
    padding:50px;
    background-color: rgb(247, 243, 243);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#consumidas{
    margin: 0;
    background-color: rgb(247, 243, 243);
    color: #c1c100;
    text-align: center; 
}
#restantes1{
    margin: 0;
    background-color: rgb(247, 243, 243);
    padding: 30px 0;
    color: rgb(0, 161, 8);
    text-align: center;   
}
#restantes2{
    margin: 0;
    background-color: rgb(247, 243, 243);
    padding: 30px 0;
    color: red;
    text-align: center;   
}
#comidasUsuario{
    position:relative;
    background-color: #f8c080;
    overflow: scroll;
}
#comidas{
    position:relative;
    background-color: #f8c080;
    width: 80%;
    height: 180px;
    overflow: scroll;
    font-size: 70%;
}

form input[type="submit"]{
    background-color: rgb(238, 113, 68); 
    color: #ffffff;
    border: 1px solid rgb(238, 113, 68);
    padding: 10px;
    text-transform: uppercase;
    position:relative;
}
form input[type="submit"]:hover{
    background-color: rgb(255, 203, 155);
    color: black;
}
#validaciones{
	position:absolute;
	top:36%;
	right:13%;
	color: red;
	font-family:'Titillium Web', sans-serif;
}
#texto{
font-family:'Titillium Web', sans-serif;
color:red;
}
#foodCalories{
	position:relative;
	font-family:'Titillium Web', sans-serif;
}