@charset "UTF-8";

* {
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
    width: 100%;
    
}
body{
    background: url(https://i.pinimg.com/564x/96/cd/bf/96cdbfc7d0f74145bf18049ff02a3b9e.jpg) ;
    background-size:100%;
}
.logo{
    width: 18%;
    left: 72%;
    top:0.1%;
}

@media only screen and (min-width: 768px) {
	.col-tab-1 {width: 10%;}
	.col-tab-2 {width: 20%;}
	.col-tab-3 {width: 30%;}
	.col-tab-4 {width: 40%;}
	.col-tab-5 {width: 50%;}
	.col-tab-6 {width: 60%;}
	.col-tab-7 {width: 70%;}
	.col-tab-8 {width: 85%;}
	.col-tab-9 {width: 90%;}
    .col-tab-10{width:100%;}
    body{
        background: url(https://i.pinimg.com/564x/96/cd/bf/96cdbfc7d0f74145bf18049ff02a3b9e.jpg) ;
    	background-size:100%;
    }	    
    .logo{
        width: 18%;
        left: 82%; 
    }
    .validaciones{
    color: darkred; 
    }
}

@media only screen and (min-width: 1366px) {
	.col-1 {width: 10%;}
	.col-2 {width: 7.5%;}
	.col-3 {width: 30%;}
	.col-4 {width: 40%;}
	.col-5 {width: 50%;}
	.col-6 {width: 60%;}
	.col-7 {width: 70%;}
	.col-8 {width: 85%;}
	.col-9 {width: 90%;}
    .col-10{width: 100%;}
    body{
        background: url(/images/perfil.jpg) ;
		background-size:100%;
    }
    .logo{
        width: 18%;
        left:82%;
    }
}
.texto4{
    font-family: 'Titillium Web', sans-serif;
    color:red;
    text-align: center;
}
.menu{
    font-family: 'Titillium Web', sans-serif;
    color:red;
}
div form{
	background-color: #e6e5e5;
    opacity: 80%;
    border-radius: 3px;
    position: relative;
    margin-left: auto; 
    margin-right:auto;
    width: 400px;
    margin-top:20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 38px 0px 50px;
 
}
label{
    position: absolute;
    margin: 0px 0px 0px 0px;
    width: 45%;
    right: 50%;
}
input[type=text] {
	margin: 0px 0px 8px 114px;
    border: 2px solid black;
    border-radius: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
input[type=submit] {
	position: relative;
    top: 36px;
    left: 126px;
    border: 2px solid black;
    border-radius: 9px;
    background: #424242;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.logo{
    position:absolute; 
}
.validaciones{   
	font-family: 'Titillium Web', sans-serif;
    top: 17px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-size: 12px;
    opacity: 70%;
    background: #DDDCDB;
    padding: 7px 4px 4px 2px;
    border-radius: 3px;
    }