@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&display=swap");

*{
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	width: 100%;
}
body{
    background: url(https://i.pinimg.com/564x/4e/1a/fb/4e1afb936e2b9032fce5f88674e55730.jpg) ;
    background-size:100%;
}



@media only screen and (min-width: 600px) {
	.col-tab-1 {width: 1%;}
	.col-tab-2 {width: 20%;}
	.col-tab-3 {width: 30%;}
	.col-tab-4 {width: 40%;}
	.col-tab-5 {width: 50%;}
	.col-tab-6 {width: 60%;}
	.col-tab-7 {width: 70%;}
	.col-tab-8 {width: 80%;}
	.col-tab-9 {width: 90%;}
	.col-tab-10{width:100%;}	
	body{
	background: url(/images/ipadsport.jpg) ;
	background-size:100%;
	}
}


@media only screen and (min-width: 768px) {
	.col-1 {width: 1%;}
	.col-2 {width: 20%;}
	.col-3 {width: 30%;}
	.col-4 {width: 40%;}
	.col-5 {width: 50%;}
	.col-6 {width: 60%;}
	.col-7 {width: 70%;}
	.col-8 {width: 80%;}
	.col-9 {width: 90%;}
	.col-10{width: 100%;}	
	body{
	background: url(/images/sports.jpg) ;
	background-size:100%;
	}
}

input[type=text]{
	outline:none;
	border:none;
	display: block;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
    font-weight:bolder;
    font-size: 70%;
    color: black;
    width: 100%;
    border-bottom: 2px solid #F30A26;
  	margin-bottom: 2px;
}

input[type=password]{
	outline:none;
	border:none;
	display: block;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
    font-weight:bolder;
    font-size: 70%;
    color: black;
    width: 100%;
    border-bottom: 2px solid #F30A26;
  	margin-bottom: 2px;
}


input[type=email]{
	outline:none;
	border:none;
	display: block;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
    font-weight:bolder;
    font-size: 70%;
    color: black;
    width: 100%;
    border-bottom: 2px solid #F30A26;
  	margin-bottom: 2px;
}

input[type=submit]{
	border:none;
	width: 100%;
    background-color: red;
    margin: 0%;
    margin-left: 0%;
    padding: 0px 9px 0 9px;
    border-radius: 3px;
	font-family: 'Titillium Web', sans-serif;
    font-size: 70%;
    color: white;
}

.cuadro {
	position: relative;
    left: 0%;
    right: 0%;
    top: 10%;
    bottom: 0%;
    margin: 37px 0 0 0;
    width: 340px;
    height: 440px;
    background: #fff;
    border-radius: 2px;
    padding: 34px 27px 84px 27px;
    opacity: 72%;
    border: thick;
}

#errores{
	position:absolute;
	left:30%;
	top:30%;
   	width:68%;
   	height: 440px;
    background: #fff;
    border-radius: 2px;
	padding: 34px 27px 84px 27px;
    opacity: 72%;
    border:thick;
}

h1{
	position: relative;
    color: #424242;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 6%;
    margin: 47px 0 0 0;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    border-color: #424242;
    border-style: solid;
    width: 360px;
}

#boton:hover{
	color:black;
}

 