@charset "UTF-8";
*{
	box-sizing:border-box;
}
body{
	background: url(https://img3.goodfon.com/wallpaper/nbig/b/98/sunset-running-jogging-fitness.jpg) ;
	background-size:100%;
}
#logoSVS{
    position:absolute;
 	 width: 15%;
    height: 30%;
    right: 1%;
    top:0;
   }
.scrollSVS {
  position:absolute;	
  background-color: transparent;
  width: 33%;
  height: 60%;
  overflow: scroll;
  left: 9%;
  top:25%;
}
.scrollSVCreadas {
  position:absolute;	
  background-color: transparent;
  width: 33%;
  height: 60%;
  overflow: scroll;
  left: 50%;
  top:25%;  
}
.InitialTextSV{
   font-family: 'Titillium Web', sans-serif;
   font-size:180%;
   color:red;
}
.ScrollText{
   position:absolute;	
   font-family: 'Titillium Web', sans-serif;
   font-size:150%;
   color:red;
   left: 9%;
   top:18%;
}
.ScrollTextCreadas{
   position:absolute;	
   font-family: 'Titillium Web', sans-serif;
   font-size:150%;
   color:red;
   left: 50%;
   top:18%;
}

.boton_personalizado{
	font-family: 'Titillium Web', sans-serif;
	position:absolute;	
	left: 37%;
    top:19.8%;
    text-decoration: none;
    padding: 5px;
    font-weight: 510;
    font-size: 18px;
    color: rgb(0,0,0);
    background-color:  rgb(255,0,0);
    border-radius: 80px;
    border: 2px solid rgb(255,0,0);
}
.boton_personalizado_enlace{
	 font-family: 'Titillium Web', sans-serif;	
	position:absolute;	
	left: 9%;
    top:88%;
    text-decoration: none;
    padding: 5px;
    font-weight: 510;
    font-size: 18px;
    color: rgb(0,0,0);
    background-color:  rgb(255,0,0);
    border-radius: 9px;
    border: 2px solid rgb(255,0,0);
}

 @media only screen and (max-width: 800px) {
 body{
	background-size:300%;
}
 #logoSVS{
 	width: 15%;
    height: 12%;
  }
  
.scrollSVS {
  width: 85%;

}
.scrollSVCreadas {
  display:none;
  
} 
.ScrollTextCreadas{
  display:none;

}
.boton_personalizado{
	left: 79%;

}

}
 @media only screen and (max-width: 400px) {
 body{
	background-size:500%;
  }
 
 #logoSVS{
 	width: 25%;
    height: 16%;
}
.scrollSVS  {
    width: 70%;	
    height: 30%;
    left:15.2%;
    top: 28%;
}

.boton_personalizado_enlace{
    top:60%;
}
}