@charset "UTF-8";
*{
	box-sizing:border-box;
}
body{
	background: url(https://www.65ymas.com/uploads/s1/12/27/57/pases-de-tarifa-plana-para-el-al-gimnasio.jpeg) ;
	background-size:100%;
}
#logoSD{
    position:absolute;
 	 width: 15%;
    height: 30%;
    right: 1%;
    top:0;
}
.scroll {
  position:absolute;	
  background-color: transparent;
  width: 32%;
  overflow: scroll;
  top:5%;
  left: 12%;
}
 @media only screen and (max-width: 770px) {
 #logoSD{
 	width: 15%;
    height: 12%;
    }
 .scroll {
	left:35%;
    height: 50%;
	top:75%;
    }
 body{
	background-size:315%;
   } 

}
 
 @media only screen and (max-width: 400px) {
 
 #logoSD{
 	width: 25%;
    height: 16%;
}
.scroll {
    width: 70%;	
    height: 30%;
    left:15.2%;
    top: 85%;
}

body{
    background-size:200%;
}  

}