@charset "UTF-8";

*{
    box-sizing: border-box;
}

/*Para móviles*/

#imagenGato {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 7%;
    right: 1%;
}
#texto1{
    position: absolute;
    left: 10%;
    top: 69%;
    font-size: 100%;
}
#texto2{
    position: absolute;
    left: 31%;
    top: 73%;
    font-size: 100%;
}
#texto3{
    position: absolute;
    left: 45%;
    top: 73%;
    font-size: 100%;
}

/*Para Tablets*/

@media only screen and (min-width: 760px){

    #imagenGato {
        height: 75%;
        width: 90%;  
    }
    #texto1{
        left: 17%;
        top: 76%;
        font-size: 180%;
    }
    #texto2{
        left: 32.5%;
        top: 80%;
        font-size: 180%;
    }
    #texto3{
        left: 45.1%;
        top: 80%;
        font-size: 180%;
    }
}
@media only screen and (min-width: 900px) {
    #imagenGato {
        width: 28%;
        height: 60%;
        top: 4%;
        right: 36%;
    }
    #texto1{ 
        left: 31%;
        top: 62%;
    }
    #texto2{
        left: 40%;
        top: 66%;
    }
    #texto3{
        left: 46.2%;
        top: 66%;
    }
    
}