@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&display=swap');

body{
background: url(/images/sports.jpg) ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#logo{
	position:relative;
	width:30%;
	height:60%;
	top:4%;
	right:36%;
}

#enlace1{
	 position:absolute;
	 right:4%;
}

#enlace2{
	 position:absolute;
	 right:8%;
}

#enlace3{
	 position:absolute;
	 right:12%;
}

#enlace4{
	 position:absolute;
	 right:16%;
}

#sentence{
	position:absolute;
    bottom:20%;
    right:26%;
	font-family: 'Alegreya', serif;
	font-size: 60px;
	color:black;
	-webkit-text-stroke: 1.75px #E33737;
    text-shadow: 9px 9px 9px black;
}
	
