@charset "UTF-8";

body{
	background: url(/images/perfil.jpg) ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#texto4{
    font-family: 'Titillium Web', sans-serif;
    color:red;
}

#logo{
    position:absolute;
    width: 15%;
    height: 30%;
    right: 2%;
}
input[type=text] {
  width: 15%;
  padding: 0 75px 0 9px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 9px;
  position: relative;
  top:170px;
  left:200px;
  height:27px;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type=submit] {
  width: 9.3%;
  padding: 0 75px 0 9px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 9px;
  position: relative;
  top:155px;
  left:425px;
  height:27px;
  background: #424242;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}