@charset "UTF-8";

body{
	background: url(/images/perfil.jpg) ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#text{
	position:absolute;
	top:110px;
    left:325px;
}

#love{
	position:absolute;
	left:5%;
	height:20%;
	width:10%;
	top:30%;
}

.texto4{
    font-family: 'Titillium Web', sans-serif;
    color:red;
}

#logo{
    position:absolute;
    width: 15%;
    height: 30%;
    right: 1%;
    top:0;
}
input[type=text] {
  width: 15%;
  padding: 0 75px 0 9px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 9px;
  position: relative;
  top:80px;
  left:300px;
  height:27px;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type=submit] {
  width: 9.3%;
  padding: 0 75px 0 9px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 9px;
  position: relative;
  top:50px;
  left:525px;
  height:27px;
  background: #424242;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}