@charset "UTF-8";

.dropdown {
  float:left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,0,0);
  min-width: 160px;
  z-index:4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content p a{
	color:white;
    font: 16px "Comic Sans MS", cursive;
    text-decoration:none;
    margin: 20px;
}

.dropdown .dropdown-content p a:hover{
    color: black;
}