<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>intro.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ValidatorController</servlet-name>
    <servlet-class>aiss.controller.ValidatorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatorController</servlet-name>
    <url-pattern>/validatorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PerfilController</servlet-name>
    <servlet-class>aiss.controller.PerfilController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilController</servlet-name>
    <url-pattern>/perfilController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InicioSesionController</servlet-name>
    <servlet-class>aiss.controller.InicioSesionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesionController</servlet-name>
    <url-pattern>/inicioSesionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConexionController</display-name>
    <servlet-name>ConexionController</servlet-name>
    <servlet-class>aiss.controller.ConexionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConexionController</servlet-name>
    <url-pattern>/conexionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MisObjetivosController</display-name>
    <servlet-name>MisObjetivosController</servlet-name>
    <servlet-class>aiss.controller.MisObjetivosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisObjetivosController</servlet-name>
    <url-pattern>/misObjetivosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YoutubeVideosController</display-name>
    <servlet-name>YoutubeVideosController</servlet-name>
    <servlet-class>aiss.controller.YoutubeVideosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeVideosController</servlet-name>
    <url-pattern>/youtubeVideosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FatSecretCaloriesController</display-name>
    <servlet-name>FatSecretCaloriesController</servlet-name>
    <servlet-class>aiss.controller.FatSecretCaloriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FatSecretCaloriesController</servlet-name>
    <url-pattern>/fatSecretCaloriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oauth1Controller</display-name>
    <servlet-name>Oauth1Controller</servlet-name>
    <servlet-class>aiss.controller.oauth.Oauth1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oauth1Controller</servlet-name>
    <url-pattern>/oauth1Controller/FatSecret</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StravaActivityController</display-name>
    <servlet-name>StravaActivityController</servlet-name>
    <servlet-class>aiss.controller.StravaActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StravaActivityController</servlet-name>
    <url-pattern>/stravaActivityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StravaPostActivityController</display-name>
    <servlet-name>StravaPostActivityController</servlet-name>
    <servlet-class>aiss.controller.StravaPostActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StravaPostActivityController</servlet-name>
    <url-pattern>/stravaPostActivityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StravaUpdateActivityController</display-name>
    <servlet-name>StravaUpdateActivityController</servlet-name>
    <servlet-class>aiss.controller.StravaUpdateActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StravaUpdateActivityController</servlet-name>
    <url-pattern>/stravaUpdateActivityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParseoObjetivosController</display-name>
    <servlet-name>ParseoObjetivosController</servlet-name>
    <servlet-class>aiss.controller.ParseoObjetivosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParseoObjetivosController</servlet-name>
    <url-pattern>/parseoObjetivosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeAuthController</servlet-name>
    <url-pattern>/AuthController/Youtube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/youtubeVideosController</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Youtube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjetivosCorporalesController</display-name>
    <servlet-name>ObjetivosCorporalesController</servlet-name>
    <servlet-class>aiss.controller.ObjetivosCorporalesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjetivosCorporalesController</servlet-name>
    <url-pattern>/objetivosCorporalesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDeleteYoutubeController</display-name>
    <servlet-name>SetDeleteYoutubeController</servlet-name>
    <servlet-class>aiss.controller.SetDeleteYoutubeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDeleteYoutubeController</servlet-name>
    <url-pattern>/setDeleteYoutubeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodsFatSecretController</display-name>
    <servlet-name>FoodsFatSecretController</servlet-name>
    <servlet-class>aiss.controller.FoodsFatSecretController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodsFatSecretController</servlet-name>
    <url-pattern>/foodsFatSecretController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFatSecretController</display-name>
    <servlet-name>DeleteFatSecretController</servlet-name>
    <servlet-class>aiss.controller.DeleteFatSecretController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFatSecretController</servlet-name>
    <url-pattern>/deleteFatSecretController</url-pattern>
  </servlet-mapping>
</web-app>